    p.serif {
    font-family: "Times New Roman", Times, serif;
}
    h1, p { 
      color: #000000; 
    }
    h2 {
      color: #003366;
      font-size: 150%;
    
    }
    p#abc456 {
    text-indent: 50px;
        
    } 
    p#xyz123 {
    text-indent: 50px;
        
    }
    article h1 {
      color: #004C99; 
    }
    body {
        background-image: url("http://varemerke.info/wp-content/uploads/2016/09/modern-style-white-wood-floor-texture-white-wood-texture-white-wood-wall-texture-16.jpg");
        background-color: #E0E0E0;
     
    }
h1 {
    text-align: center;
    
}    
h3 {
    text-align: left;
} 

img.big { 
    height: 400px;
}

ol.c {list-style-type: upper-roman;}
}
        


