<head>
    <style>
    h1, p { 
      color: #000000; 
    }
    h2 {
      color: #FF66B2; 
        000000; 
      font-size: 16pt;
    }
    p#abc456 {
         font-size: 16pt;
    }
    article h1 {
      color: #004C99; 
    }
    body {
        background-image: url("http://varemerke.info/wp-content/uploads/2016/09/modern-style-white-wood-floor-texture-white-wood-texture-white-wood-wall-texture-16.jpg");
        background-color: #E0E0E0;
    }
</style>
</head>
<head>
<style>
h1 {
    text-align: center;
}

h3 {
    text-align: left;

} 
</style>
</head>
