    p.serif {
    font-family: "Times New Roman", Times, serif;
}
    h1, p { 
      color: #000000; 
    }
    h2 {
      color: #003366;
      font-size: 150%;
    
    }
    p#abc456 {
    text-indent: 50px;
        
    } 
    p#xyz123 {
    text-indent: 50px;
        
    }
    article h1 {
      color: #004C99; 
    }
    body {
        background-image: url("woodbackground.jpg");
        background-color: #E0E0E0;
     
    }
h1 {
    text-align: center;
    
}    
h3 {
    text-align: left;
} 

ol.c {list-style-type: upper-roman;}
}
        


